name: Laravel 11

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-tests:
    uses: ./.github/workflows/run-tests-reusable.yml
    with:
      laravel: "11"
    strategy:
      fail-fast: false
      matrix:
        php: ["8.1", "8.2", "8.3"]
