name: Laravel 12

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-tests:
    uses: ./.github/workflows/run-tests-reusable.yml
    with:
      laravel: "12"
    secrets: inherit
