name: Static Analysis

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  phpstan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v3
        with:
          php-version: '8.2'

      - name: Cache Composer dependencies
        uses: actions/cache@v3
        with:
          path: |
            vendor
            ~/.composer/cache
            ~/.cache/composer
          key: ${{ runner.os }}-composer-static-${{ hashFiles('**/composer.lock') }}

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --ansi

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse --no-progress